* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .1fr 1fr;
	justify-content: center;
	padding: 2%;
}

main>header {
	display: flex;
	justify-content: center;
}

main>header>h1 {
	font-size: 35px;
}

main>section {
	display: flex;
	justify-content: center;
}

td {
	height: 70px;
	padding: 5px;
}

input {
	padding: 6px 5px 6px 5px;
	width: 100%;
}

#td-telefone {
	display: grid;
	grid-template-columns: .4fr 1fr;
	align-items: center;
}

.ddd {
	margin-right: 2px;
}

.telefone {
	margin-left: 2px;
}

#date {
	padding: 3.5px;
}

#td-genero {
	display: flex;
	align-items: center;
}

#pdc {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
}

#valid {
	width: 10%;
}